body {
    background: url("../img/ctu.png") no-repeat center center fixed; /*background picture */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    padding: 10px;
    color: #000;
    font-family: helvetica;

}

img {
    background:#fff;
    border-radius: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Make the stream fit any windows. ref: https://stackoverflow.com/questions/6169666/how-to-resize-an-image-to-fit-in-the-browser-window */
.camera-box {
    display: grid;
    height: 100%;
    margin: 0;
    padding: 0;
}
.camera {
    border-radius: 0px;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

h1 {
    display: block;
    font-size:45px;
}
p {
    font-size:22px;
}
#shutdown {
    font-size:18px;
}
#pwrdby {
    font-size:10px;
}
#credits {
    text-align: left;
}

