{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_formhelper.html" import render_button %}

{% block app_content %}

  <div id="app-inner"></div>
  <div id="app">
    <div class="camera-box">
      <h1>{{main_title}}</h1>
      <img class='camera' src="{{ url_for('video_feed') }}"> <!-- video stream here -->
    </div>
    
    <div class="btn-group">
      <div class="btn-custom" id="w">W <span class="btn-label">FORWARD</span></div>
      <div class="btn-custom" id="a">A <span class="btn-label">LEFT</span></div>
      <div class="btn-custom" id="s">S <span class="btn-label">BACKWARD</span></div>
      <div class="btn-custom" id="d">D <span class="btn-label">RIGHT</span></div>
      <div class="btn-custom" id="h">H <span class="btn-label">L HAND UP</span></div>
      <div class="btn-custom" id="j">J <span class="btn-label">L HAND DOWN</span></div>
      <div class="btn-custom" id="k">K <span class="btn-label">R HAND UP</span></div>
      <div class="btn-custom" id="l">L <span class="btn-label">R HAND DOWN</span></div>

      <div class="btn-custom" id="k1">1 <span class="btn-label">HIGH SPEED</span></div>
      <div class="btn-custom" id="k2">2 <span class="btn-label">LOW SPEED</span></div>

      <div class="btn-custom" id="space">
          <span class="space-txt">SPACE</span>
          <div class="space-cover"></div>
          <span class="btn-label">TOGGLE LIGHT</span>
      </div>
  </div>
  </div>
{% endblock %}