{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_formhelper.html" import render_button %}

{% block app_content %}
  <div id="app">
    <div id="avatar">
      <img src="../static/img/MIS.png"> <!-- logo for the system -->
      <h1>{{main_title}}</h1>
      <p>{{main_func}}</p>
    </div>
    <hr>
    <div id="userLogin">
      <!-- Display error message if any -->
      {% if form.errors %}
        {{ form.errors }}
      {% endif %}
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
          {% for message in messages %}
            {% if message != "Please log in to access this page." %}
              <span style="color: red;font-size:18px;">{{ message }}</span>
            {% endif %}
          {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      <!-- Start the form -->
      <!-- {{wtf.quick_form(form)}} -->
      <form action="" method="POST" class="form" role="form">
        {{ form.hidden_tag() }}
        <d1>
          {{ wtf.form_field(form.username, class="form-control", size=32, placeholder='Username') }}
          {{ wtf.form_field(form.password, class="form-control", size=32, placeholder='Password', type='password') }}
        </d1>
        <p>{{ render_button(form.submit, class="btn btn-primary btn-block") }}</p>
        <!-- <a href="#" onclick="close_window();return false;" class="btn btn-primary btn-block" role="button">Close</a> -->
      </form>
    </div>
  </div>
{% endblock %}